<div class="div-painel" *ngIf="planetaSelecionado">
  <img class="imagem-planeta" [src]="planetaSelecionado.imagem" alt="Planeta" />
  <p>
    Nome: <strong>{{ planetaSelecionado.nome }}</strong>
  </p>
  <p>
    Temperatura média: <strong>{{ planetaSelecionado.temperatura }}°C</strong>
  </p>
  <p>
    Diâmetro: <strong>{{ planetaSelecionado.diametro }} km</strong>
  </p>
  <p>
    Dia: <strong>{{ planetaSelecionado.dia }}h</strong>, Ano:
    <strong>{{ planetaSelecionado.ano }}d</strong>
  </p>
  <p>Curiosidade: {{ planetaSelecionado.curiosidade }}</p>
</div>

<div *ngFor="let planeta of planetas">
  <img
    class="imagem-planeta"
    [src]="planeta.imagem"
    alt="Planeta"
    (click)="clicouNoPlaneta(planeta)"
  />
</div>
